<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">

        <h1 class="page-header"><%= @event.name %>
            <small>by <%= @event.company.name %></small>
        </h1>
        <%= image_tag 'kekka.png' %>
        <br>
        <br>


        <%= image_tag 'otsukare.png' %>
        <br>
        <br>
        <br>

        <%= image_tag 'dainikai.png' %>


        <h2 style="position: relative;" id="rank1"><%= image_tag 'rank01.png' %>
            <span style="position: absolute; bottom: 0;" class="text-center">Kaleidoscope</span></h2>

        <div id="rank1-content" class="rank-content">
<iframe src="//www.slideshare.net/slideshow/embed_code/key/KENgv7WimLwwTQ" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/ShingoFujiyama/kaleidoscope-55616426" title="KALEIDOSCOPE" target="_blank">KALEIDOSCOPE</a> </strong> from <strong><a href="//www.slideshare.net/ShingoFujiyama" target="_blank">Shingo Fujiyama</a></strong> </div>
            <div class="company-comment">
                <h4>企業のコメント</h4>
                テステステス
                テステステス
                テステステス
                テステステス
            </div>
            <div class="text-center" style="margin: 20px">
                <a class="btn btn-primary btn-lg" href="https://github.com/pocke/kaleidoscope" style="margin-right: 20px">Github</a>
                <a class="btn btn-primary btn-lg" href="https://github.com/pocke/kaleidoscope" style="background-color: deepskyblue;border: 2px deepskyblue">Consept</a>
            </div>
        </div>

        <h3 style="position: relative;" id="rank2"><%= image_tag 'rank02.png', style:'width: 100px' %>
            <span style="position: absolute; bottom: 0;">MILLENNIUM FALCON</span></h3>

        <div id="rank2-content" class="rank-content">
<iframe src="//www.slideshare.net/slideshow/embed_code/key/KENgv7WimLwwTQ" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/ShingoFujiyama/kaleidoscope-55616426" title="KALEIDOSCOPE" target="_blank">KALEIDOSCOPE</a> </strong> from <strong><a href="//www.slideshare.net/ShingoFujiyama" target="_blank">Shingo Fujiyama</a></strong> </div>
            <div class="company-comment">
                <h4>企業のコメント</h4>
                テステステス
                テステステス
                テステステス
                テステステス
            </div>
            <div class="text-center" style="margin: 20px">
                <a class="btn btn-primary btn-lg" href="https://github.com/pocke/kaleidoscope" style="margin-right: 20px">Github</a>
                <a class="btn btn-primary btn-lg" href="https://github.com/pocke/kaleidoscope" style="background-color: deepskyblue;border: 2px deepskyblue">Consept</a>
            </div>
        </div>


        <h4 style="position: relative;" id="rank3"><%= image_tag 'rank03.png', style:'width: 80px' %>
            <span style="position: absolute; bottom: 0;">X-WING</span></h4>

        <div id="rank3-content" class="rank-content">
<iframe src="//www.slideshare.net/slideshow/embed_code/key/KENgv7WimLwwTQ" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/ShingoFujiyama/kaleidoscope-55616426" title="KALEIDOSCOPE" target="_blank">KALEIDOSCOPE</a> </strong> from <strong><a href="//www.slideshare.net/ShingoFujiyama" target="_blank">Shingo Fujiyama</a></strong> </div>
            <div class="company-comment">
                <h4>企業のコメント</h4>
                テステステス
                テステステス
                テステステス
                テステステス
            </div>
            <div class="text-center" style="margin: 20px">
                <a class="btn btn-primary btn-lg" href="https://github.com/pocke/kaleidoscope" style="margin-right: 20px">Github</a>
                <a class="btn btn-primary btn-lg" href="https://github.com/pocke/kaleidoscope" style="background-color: deepskyblue;border: 2px deepskyblue">Consept</a>
            </div>
        </div>

        <div id="rank4"><strong>4位</strong>SNOWSPEEDERE</div>
        <div id="rank4-content" class="rank-content"></div>
        <div id="rank5"><strong>5位</strong>SPEEDER BIKE</div>
        <div id="rank5-content" class="rank-content"></div>
        <script src="/assets/rankingSlide.js"></script>
    </div>
    <div class="col-xs-2"></div>
</div>
