<div class="row text-center">
  <%= image_tag 'top.jpg' %>
</div>


<div class="row">
  <div class="col-xs-6 text-center">
    <a href="/users/sign_in" class="btn btn-lg btn-success">sign in</a>
  </div>
  <div class="col-xs-6 text-center">
    <a href="/users/sign_up" class="btn btn-lg btn-danger">sign up</a>
  </div>
</div>

<h2 class="page-header">Event 一覧</h2>

<% @events.each do |e| %>
  <div>
    <h3><%= e.name %></h3>
  company: <%= e.company.name %>
  <%= e.start_date %> to <%= e.end_date %>

  <%= link_to "詳細を見る", event_path(e.id)  %>
  <hr>
  
  </div>
<% end %>
