<div style="background-color: #222">
    <%= image_tag 'top.jpg', style:"width: 100vw; height: auto;" %>
</div>

<div class="container">
    <div class="row">
    </div>

    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <% if current_user %>
            <% @events.select { |e| e.user_ids.include?(current_user.id) }.select { |e| e.start_date < Time.zone.now && Time.zone.now < e.end_date }.each do |e| %>
                <a href="/events/<%= e.id %>/now" class="alert alert-danger text-center" style="display: block;margin: 20px;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    参加登録したハッカソンが開催中!
                </a>
            <% end %>
        <% end %>
        <h2 class="page-header">ハッカソン 一覧</h2>

        <div class="event-list">
            <% @events.each do |e| %>
              <div class="row">
                <div class="col-xs-8">
                    <h3><%= e.name %>
                        <small>&nbsp;by&nbsp;<%= e.company.name %></small>
                    </h3>
                    <h5>期間：<%= e.start_date.strftime("%m/%d %H:%M") %> ~ <%= e.end_date.strftime("%m/%d %H:%M") %></h5>

                    <p><%= e.description %></p>

                    <%= link_to "詳細を見る", event_path(e.id) %>
                    <hr>
                </div>
                <% if e.in_session? %>
                  <a href="/events/<%=e.id%>/now" class="col-xs-4 label label-info" style="font-size: 24px; display: block">開催中!</a>
                <% elsif e.after_session? %>
                  <div class="col-xs-4 label label-default" style="font-size: 22px">終了しました</div>
                <% else %>
                  <div class="col-xs-4 label label-default" style="font-size: 22px">開催前です</div>
                <% end %>
              </div>
            <% end %>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
