<!DOCTYPE html>
<html>
<head>
    <title>Kaleidoscope</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/assetes/style.css">

</head>
<body style="padding-top: 60px;">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Kaleidoscope</a>
    </div>
    <p class="navbar-text navbar-right">
    <% if !current_user %>
        <a href="/users/sign_up" class="navbar-link"><%= image_tag 'signup.png', style:"width: auto; max-height: 30px; margin-right: 10px;" %></a>
        <a href="/users/sign_in" class="navbar-link"><%= image_tag 'signin.png', style:"width: auto; max-height: 30px; margin-right: 40px;" %></a>
    <% else %>
        <a href="/users/edit" class="navbar-link"><%= gravatar(current_user.email) %>&nbsp;<%= current_user.nickname %>&nbsp;</a>
        <a href="/users/sign_out" class="navbar-link"><%= image_tag 'signout.png', style:"width: auto; max-height: 30px; margin-right: 40px;" %></a>
    <% end %>
    </p>
</nav>

<%= bootstrap_flash %>
<%= yield %>

</body>
</html>
